# Python and environment files
__pycache__/
*.pyc
.env
*.sqlite3
instance/
*.log
*.DS_Store

# Dataset (optional to track manually)
India_Agriculture.csv

# Allow chart images
# Ignore everything inside charts folder
static/charts/*
# But allow PNG chart images
!static/charts/*.png

# Images handling
# Ignore everything inside images
static/images/*
# Allow image files
!static/images/*.JPG
!static/images/*.jpg
!static/images/*.jpeg
!static/images/*.png